.tabs {
}

.tabs__inner {
    display: flex;
}

.tabs__control {
    width: 0;
    height: 0;
    position: absolute;
}

.tabs__nav {
    padding: 10px 0 0 0;
    background: var(--white);
}

.tabs__item {
    box-sizing: border-box;
    margin-right: 40px;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.tabs__item:hover {
    color: var(--black);
    border-color: var(--black);
}

#all-tab:checked ~ .tabs__nav .tabs__item[for=all-tab],
#complex-tab:checked ~ .tabs__nav .tabs__item[for=complex-tab],
#simple-tab:checked ~ .tabs__nav .tabs__item[for=simple-tab]
{
    display: block;
    color: var(--black);
    border-color: var(--black);
}

.tabs__content {
    display: none;
    padding: 48px 0;
}

#all-tab:checked ~ .container .tabs__content_all,
#complex-tab:checked ~ .container .tabs__content_complex,
#simple-tab:checked ~ .container .tabs__content_simple
{
    display: block;
}
