.toggle {
    display: inline-block;
    color: var(--grey-4)
}

.toggle__input {
    width: 0;
    height: 0;
}

.toggle__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.toggle__input:disabled ~ .toggle__inner {
    cursor: not-allowed;
}

.toggle__box {
    position: relative;
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
}

.toggle__input:checked ~ .toggle__inner .toggle__box {
    border-color: var(--blue-1);
    background: var(--blue-1);
}

.toggle__input:disabled ~ .toggle__inner .toggle__box {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.toggle__input:checked:disabled ~ .toggle__inner .toggle__box {
    background: var(--grey-2);

}

.toggle__state {
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 16px;
}

.toggle__input:checked ~ .toggle__inner .toggle__state {
    background: var(--white);
    transform: translate(96%, 0);
}

.toggle__input:disabled ~ .toggle__inner .toggle__state {
    background: var(--grey-3);
}

.toggle__input:checked:disabled ~ .toggle__inner .toggle__state {
    background: var(--grey-3);
}

.toggle__label {
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.toggle__input:focus ~ .toggle__inner .toggle__label {
    text-decoration: underline;
}

.toggle__input:disabled ~ .toggle__inner .toggle__label {
    color: var(--grey-2);
}