.checkbox {
    display: inline-block;
    color: var(--grey-4);
    line-height: 0;
    font-size: 0;
}

.checkbox__input {
    width: 0;
    height: 0;
}

.checkbox__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 0;
}

.checkbox__input:disabled ~ .checkbox__inner  {
    cursor: not-allowed;
}

.checkbox__state {
    position: relative;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 28px;
    height: 28px;
}

.checkbox__input:checked ~ .checkbox__inner .checkbox__state {
    border-color: var(--blue-1);
    background: var(--blue-1);
}

.checkbox__input:disabled ~ .checkbox__inner .checkbox__state {
    border-color: var(--grey-2);
    background: var(--grey-2);
}

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: var(--white);
}

.checkbox__input:disabled ~ .checkbox__inner .checkbox__state .checkbox__icon {
    stroke: var(--grey-2);
}

.checkbox__input:checked:disabled ~ .checkbox__inner .checkbox__state .checkbox__icon {
    stroke: var(--white);
}


.checkbox__label {
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.checkbox__input:focus ~ .checkbox__inner .checkbox__label {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__inner .checkbox__label {
    color: var(--grey-2);
}
