.menu {

}

.menu__header {
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.menu__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__item {
    flex-basis: 22px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.menu__item:hover {
    opacity: 0.8;
}

.menu__item_active {
    flex-basis: 22px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--orange);
}