.preview {
    background: var(--grey-5);
    flex-grow: 1;
    padding: 50px 0;
}

.preview__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px
}

.preview__row:last-child {
    margin-bottom: 0;
}

.preview__card {
    display: flex;
    flex-direction: column;
    width: 31%;
}