.preview {
    background: var(--grey-5);
    flex-grow: 1;
    padding: 64px 0;
}

.preview__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px
}

.preview__row:last-child {
    margin-bottom: 0;
}

.preview__card {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 30px)
}

@media screen and (max-width: 768px) {
    .preview {
        padding-top: 24px;
    }

    .preview__container {
        padding: 0 16px;
        gap: 0;
    }

    .preview__card {
        width: calc(50% - 8px);
        margin-bottom: 23px;
    }
}

@media screen and (max-width: 480px) {
    .preview {
        padding-top: 16px;
    }

    .preview__container {
        padding: 0;
        gap: 0;
    }

    .preview__card {
        width: 100%;
        margin-bottom: 16px;
    }
}